//-
//- Copyright (C) Manuel J. Blanco Vecino
//- 
//- Desarrollo de un centro de videoconferencias utilizando WebRTC
//- Project site: https://github.com/manublanco/Centro-de-Videoconferencias
//- 
//- Proyecto fin de carrera. Universidade da Coruña
//-

extends layout


block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='/home').brand Home
				ul#global-nav.nav.pull-left
					a(href='/eventos_creados').brand Eventos Creados
				ul#global-nav.nav.pull-left
					a(href='/eventos_invitado').brand Invitaciones Eventos
				ul#global-nav.nav.pull-left
					a(href='/crear-evento').brand Crear Evento
				ul#global-nav.nav.pull-left
					a(href='/datos-usuario').brand Cuenta
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Salir
	
					user = typeof(udata) != 'undefined' ? udata : { }
	
	
		div#roomcontainer.container
			div.hero-unit
				h1 Centro de videoconferencias
				h2 Proyecto Fin de carrera
				h3 Ingenieria Informatica
				img(src='./app/public/img/udc.png')#img
				h4 Autor: Manuel J. Blanco Vecino 
				h4 Directores: Francisco J. Novoa Manuel y Jesus Perez Rubio

			div.row.container-fluid
				div#columna_4.span4
					div#contenidoColumna
						br
						h2(align='center') Eventos Creados
						br
						div
							br
							br
							h4(align='center') Desde esta sección podrá gestionar los eventos que usted ha creado.
							br
							br
							br
							br
							br
						div	
							div#eventosCreados.btn.btn-large.btn-block.btn-primary(onclick="window.location.href='/eventos_creados'") Gestion de Eventos Creados


				
				div#columna_4.span4
					div#contenidoColumna
						br
						h2(align='center') Invitaciones a eventos
						br
						div	
							br
							br
							h4(align='center') Desde esta sección podrá acceder todos los eventos a los que ha sido invitado.
							br
							br
							br
							br
							br
							div#eventosInvitado.btn.btn-large.btn-block.btn-primary(onclick="window.location.href='/eventos_invitado'") Ver Invitaciones a Eventos


				
				div#columna_4.span4
					br
					h2(align='center') Salas publicas
					br
					br
					br
					div
						div#room1.btn.btn-large.btn-block.btn-primary Sala 1
					div
						div#room2.btn.btn-block.btn-large.btn-primary Sala 2
					div
						div#room3.btn.btn-block.btn-large.btn-primary Sala 3
					div
						div#room4.btn.btn-block.btn-large.btn-primary Sala 4


					

		div#vidcontainer.container.hide
			div.row
				div#video_grid.span9

				div#chat2.span3.visible-desktop
					input#user-connected-tf.input.hide(type='text', name='user-connected', value= user.user)

					div#chat_body2
					input#chat_message(name='mensaje',rows='1',placeholder='Escriba aquí su mensaje')
			
								
									
									


		
		
	include modals/alert
	include modals/confirm


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='/js/erizo.js')
	script(src='/js/script.js')