//-
//- Copyright (C) Manuel J. Blanco Vecino
//- 
//- Desarrollo de un centro de videoconferencias utilizando WebRTC
//- Project site: https://github.com/manublanco/Centro-de-Videoconferencias
//- 
//- Proyecto fin de carrera. Universidade da Coruña
//-

extends layout


block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='/home').brand Home
				ul#global-nav.nav.pull-left
					a(href='/eventos_creados').brand Eventos Creados
				ul#global-nav.nav.pull-left
					a(href='/eventos_invitado').brand Invitaciones Eventos
				ul#global-nav.nav.pull-left
					a(href='/crear-evento').brand Crear Evento
				ul#global-nav.nav.pull-left
					a(href='/datos-usuario').brand Cuenta
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Salir
	
					// preset form values if we receive a userdata object //
				user = typeof(udata) != 'undefined' ? udata : { }
				evento = typeof(edata) != 'undefined' ? edata : { }
									// store the userId on the client side in a hidden input field //
				input(type='hidden', value= user._id)#userId
				//input(type='hidden', value= evento._id)#eventId
				input(type='hidden', value= evento.sala)#eventSala		
	div#vidcontainer.container
	div.row
		div#video_grid.span9

		div#chat.span3.visible-desktop
			input#user-connected-tf.input.hide(type='text', name='user-connected', value= user.user)

			div#palabra
			div#chat_body
			input#chat_message(name='mensaje',rows='1',placeholder='Escriba aquí su mensaje')
		

		div#datos.span3
			div#users
				h4(align='center') Usuarios Conectados
				br
				ul#usuariosConectados
			div#datosEvento
				div#titulo 
					h3 Titulo del Evento
						div#tituloEvento
							p#titulop #{evento.titulo}

				div#descripcion
					h3 Descripcion
						div#descripcionEvento
							p#descripcionp #{evento.descripcion}
				div#Fecha 
					h4#fechap 
						p Fecha de inicio:  #{evento.fecha} 
				div#Hora 
					h4#horap
						p Hora: #{evento.hora}

				button#recordButton.btn.btn-block.btn-large.btn-primary(onclick='startRecording()') Empezar/Parar Grabacion


			
		
								

							

	include modals/alert
	include modals/confirm
	



block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/erizo.js')
	script(src='/js/evento_script.js')
	script(src='/js/controllers/salaEventoController.js')
	script(src='/js/views/salaEvento.js')
	script(src='/js/form-validators/salaEventoValidator.js')
