//-
//- Copyright (C) Manuel J. Blanco Vecino
//- 
//- Desarrollo de un centro de videoconferencias utilizando WebRTC
//- Project site: https://github.com/manublanco/Centro-de-Videoconferencias
//- 
//- Proyecto fin de carrera. Universidade da Coruña
//-

extends layout


block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='/home').brand Home
				ul#global-nav.nav.pull-left
					a(href='/crear-evento').brand Crear Evento
				ul#global-nav.nav.pull-left
					a(href='/datos-usuario').brand Cuenta
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Salir
	
					// preset form values if we receive a userdata object //
					user = typeof(udata) != 'undefined' ? udata : { }
					evento = typeof(edata) != 'undefined' ? edata : { }
										// store the userId on the client side in a hidden input field //
					input(type='hidden', value= user._id)#userId
					//input(type='hidden', value= evento._id)#eventId
					input(type='hidden', value= evento.sala)#eventSala		
		div#vidcontainer.container
		div.row
			div#video_grid.span9

			div#chat.span3.visible-desktop
				input#user-connected-tf.input.hide(type='text', name='user-connected', value= user.user)

				div#chat_body
				input#chat_message(name='mensaje',rows='1',placeholder='chat_message')
			
			div#users.span3
				div#datosEvento
					br
					div#titulo 
						b Titulo del Evento:
							div#tituloEvento
								input#titulo.input.disabled(type='text', name='titulo', value= evento.titulo, disabled='disabled')

					div#descripcion
						b Descripcion:
							div#descripcionEvento
								input#titulo.input.disabled(type='text', name='descripcion', value= evento.descripcion, disabled='disabled')

					div#Fecha 
						b Fecha de inicio:
							div#fechaEvento
								input#titulo.input.disabled(type='text', name='titulo', value= evento.fecha, disabled='disabled')

					div#Hora 
						b Hora:
							div#horaEvento
								input#titulo.input.disabled(type='text', name='titulo', value= evento.hora, disabled='disabled')



		



block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/erizo.js')
	script(src='/js/evento_script.js')
	script(src='/js/controllers/modificarEventoController.js')
	script(src='/js/form-validators/modificarEventoValidator.js')