
#get-credentials.modal-single-input.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3 Recuperar Contraseña
    div.modal-body
        form( method="post")#get-credentials-form.well.span5
            p Por favor, introduzca la dirección de correo asociada a su cuenta
            input(type="text", name="email", id='email-tf').span5.required
            button(type="submit")#submit.btn.btn-primary Enviar
            button(data-dismiss="modal")#cancel.btn Cancelar
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer